

<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <span style="text-align: center; font-size: 5vw;">
                ParaLegal Investigate
            </span><br>
            <span style="text-align: center; font-size: 5vw; color: rgb(223, 12, 142)">
                +27 81 321 4765
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="#">Paralegal</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Investigate</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>




