<div class="container-fluid body-background">

    <div>
        <h5 style="text-align: center; font-size: 5vw;">
            Investigations & Paralegal Services
        </h5>
    </div>

    <div >
        <br>
        <h4 style="text-align: center; font-size: 4vw; font-weight: 900;">
            Additional Services
        </h4>
    </div>
    <div>
        <table class="table">
            <tbody style="font-size:3vw; font-style: italic;">
                <tr>
                    <td>Collections</td>
                    <td>IT Services</td>
                </tr>
                <tr>
                    <td>Bodyguard</td>
                    <td>Programming</td>
                </tr>
                <tr>
                    <td>Courier</td>
                </tr>
                <tr>
                    <td>Cross-examination</td>
                </tr>
                <tr>
                    <td>Nightguard</td>
                </tr>
                <tr>
                    <td>Transport</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>